/Ex01NormalClass.class
/Ex02AnonymousClass$1.class
/Ex02AnonymousClass.class
/Ex03Lambda.class
/Ex04FunctionalInterface.class
/Ex05ParamNReturn.class
/Ex06Define1Predicate.class
/Ex06Define2Supplier.class
/Ex06Define3Consumer.class
/Ex06Define4Function.class
/GugudanRange.class
/Human.class
/IKosmo1.class
/IKosmo2.class
/IKosmo3.class
/IKosmo4.class
/KosmoStudent1.class
/MenuPrint.class
/RandomNumber.class
/StringConcat.class
